<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="E:/javalearning" thread-count="3">
        <classes>
            <class name="selenium.Situations.situation09multiThread">
            </class>
        </classes>
    </test>
</suite>